{% load static %}
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Koisoft Started App</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header row">
        <div class="col-4">
            <div class="user-pic">
                {% if profile.picture %}
                    <img class="img-responsive rounded-circle" src="{{ profile.picture.url }}" alt="User picture">
                {% else %}
                    <img class="img-responsive rounded-circle" src="{% static 'images/default-profile.png' %}" alt="User picture">
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <div class="user-info">
            <span class="user-name">{{ user.get_full_name.title }}
            </span>
            <span class="user-role">@{{ user.username }}</span>
            </div>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="active">
            <a href="{% url "dashboard_view" %}">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
                <i class="far fa-address-book"></i>
                <span>Contacts</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">List</a>
                </li>
                <li>
                  <a href="#">Create</a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="header-menu">
            <span>User</span>
          </li>
          <li>
            <a href='{% url "profile_view" %}'>
                <i class="far fa-address-card"></i>
                <span>Profile</span>
            </a>
          </li>
          <li>
            <a href='{% url "change_password" %}'>
                <i class="fas fa-key"></i>
                <span>Change password</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href='{% url "logout" %}'>
        <i class="fa fa-power-off"></i> Logout
      </a>
    </div>
</nav>
